<ion-view view-title="SMASK" hide-nav-bar="true">
  <div class="loadingSpinner" ng-hide="collectionsReady">
    <img class="loadingSpinner" src="./img/icons/loading-spin.svg" width="50">
  </div>
  <ion-content>
    <div class="welcome" >
      <img src="./img/logo.png" class="smask-logo animated slideInLeft">
      <div class="groupsList content-wrap" ng-if="collectionsReady" ng-repeat="group in groups track by $index">
        <div class="groupBackgroundColor" style="background-color: {{group.color}};"></div>
        <!-- <div class="groupBackgroundColor" style=""></div> -->
        <h3 ng-if="group.name" class="group-headline">{{group.name}}</h3>
        <p ng-if="group.description" class="group-intro">{{group.description}}</p>

        <div class="collectionsList animated fadeIn">
          <div ng-repeat="groupCollectionIds in group.included_collections track by $index">
            <div ng-repeat="collection in collections | filter: {id: groupCollectionIds} track by $index" ng-class="{'lockedCollection' : productList.indexOf(collection.iapId) !== -1, 'unLockedCollection' : restoreCollectionList.indexOf(collection.iapId) !== -1}">
              <h3 class="collectionName">{{collection.name}}</h3>
              <div class="slide-content">
                <ion-slides options="collectionsSliderSettings" slider="data.slider">
                  <!-- Collection Start  -->
                  <ion-slide-page class="collectionsItem first">
                    <div class="categoryImage" ng-click="buy(collection.iapId)">
                      <div class="overlay">
                        <div class="collectionIcon">
                          <img class="theIcon" ng-src="{{collection.icon}}">
                        </div>
                        <h3 class="collection-headline"
                          ng-if="productList.indexOf(collection.iapId) !== -1">
                          Køb dette sæt
                        </h3>
                        <h3 class="collection-headline"
                          ng-if="restoreCollectionList.indexOf(collection.iapId) !== -1">
                          Tilkøbt sæt
                        </h3>
                      </div>
                    </div>
                  </ion-slide-page>
                  <!-- Categories in Collections -->
                  <ion-slide-page class="collectionsItem animated" ng-repeat="category in categories | filter: {collectionId: collection.id} | orderBy: '-publishedAt'" ng-class="{'pulse': category.id == selected}">
                    <div class="categoryImage" style="background-image: url('{{ category.cover_image }}')">
                      <div class="overlay" ng-click="openViewCategorie(category)">
                      </div>
                      <div class="selectBox checked" ng-show="categories.id == category.id" ng-repeat="categories in selectedCategories" ng-click="selectCategorie(category); select(category.id)">
                      </div>
                    </div>
                    <div class="categoryContent">

                      <h5>{{ category.categoryTitle }}</h5>
                    </div>
                  </ion-slide-page>
                  <!-- View more from collection -->
                  <!-- <ion-slide-page class="collectionsItem" ng-repeat-end="" ng-if="$index == collection.included_categories.length -1">
                    <div class="categoryImage" ng-click="selectCollection(collection)">
                      <div class="overlay">
                        <h3>Se alle</h3>
                        <h5>{{ collection.name }}</h5>
                      </div>
                    </div>
                  </ion-slide-page> -->
                </ion-slides>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  <!-- </main> -->
  </ion-content>
  <!-- </div> -->
</ion-view>
