<ion-view hide-nav-bar="true" hide-back-button="true" cache-view="false" >
    <ion-content class="intro" scroll="false">
      <div class="screen-1">
        <!--top-->
        <img src="./img/logo.png" class="logo animated slideInDown">
        <!--slide-->
        <ion-slide-box on-slide-changed="introSlideChange($index)" class="animated fadeIn">
            <ion-slide class="slide">
                <div class="slide-content">
                  <br><br><br><br><br><br>
                    <h1>
                      Velkommen til SMASK!
                    </h1>
                    <p style="font-size: 16px;">
                      Et sjovt og alsidigt spil, som du kan spille på forskelliger måde alt afhængigt af hvor du er, og hvem du er sammen med. 
                      <br> <br>
                      I kan quizze i paratviden, I kan lære mere om hinanden, og I kan på skift gøre jer selv til grin ved en række skøre og udfordrende lege.
                      <br><br>
                      - og hvis I vil, kan I blive helt smaskede.
                    </p>
                </div>
            </ion-slide>
            <ion-slide class="slide">
                <div class="slide-content">
                    <img class="slide-icon" src="./img/icons/choose-question.png">
                    <h1>Man skiftes til at læse spørgsmål op.</h1>
                    <ul>
                      <h2>
                        <li><b>1.</b> Som oplæser skal man ud over at læse op, også holde øje med hvem, der buzzer sig ind først.</li>
                        <li><b>2.</b> Oplæseren skal stoppe med at læse op, så snart en person buzzer sig ind.</li>
                        <li><b>3.</b> Oplæseren må først fortsætte, hvis personen svarer forkert.</li>
                      </h2>
                    </ul>
                    <!-- <h2>Som oplæser skal man ud over at læse op, også holde øje med hvem, der buzzer sig ind først. Oplæseren skal stoppe med at læse op, så snart en person buzzer sig ind, og må først fortsætte, hvis personen svarer forkert.</h2> -->
                </div>
            </ion-slide>
            <ion-slide class="slide">
                <div class="slide-content">
                    <img class="slide-icon" src="./img/icons/alert-smask.png">
                    <h1>Man buzzer sig ind ved at slå i bordet og råbe “SMASK!”</h1>
                    <ul>
                      <h2>
                        <li><b>4.</b> Når oplæseren har angivet hvem, der var hurtigst, må vedkommende komme med sit svar – <i>Svares der forkert må de andre deltagere buzze sig ind igen.</i></li>
                        <li><b>5.</b> Personen der lige har svaret forkert må først buzze sig ind igen, hvis en anden deltager svarer forkert.</li>
                      </h2>
                    </ul>
                </div>
            </ion-slide>
            <ion-slide class="slide">
                <div class="slide-content">
                    <img class="slide-icon" src="./img/icons/send-left.png">
                    <h1>Der gives points & skiftes oplæser</h1>
                    <ul>
                      <h2>
                        <li><b>6.</b> Oplæseren giver point, hvorefter telefonen sendes til venstre til den nye oplæser.</i>
                        <li><b>7.</b> Personen, der netop har svaret rigtigt, vælger den næste kategori.</i>
                        </li>
                        <li>Dette fortsætter indtil alle spørgsmål er besvaret. Spilleren med flest points vinder, selvfølgelig, KOM NU!
                        </il>
                    </ul>
                </div>
            </ion-slide>
        </ion-slide-box>
        <button  class="button button-light button-clear skip-button animated slideInUp" ui-sref="app.collections">
          <span ng-if="slideIndex != 3">
            Skip
          </span>
          <span class="playNow" ng-if="slideIndex == 3">
            Spil nu!
          </span>
        </button>
      </div>
    </ion-content>
</ion-view>
