<ion-modal-view class="category-view ion-nifty-modal animated slideUp">
  <div class="ion-modal-content-custom">
    <ion-content class="category-view-content padding">
      <h3>       
         SETTINGS
      </h3>
      <h5>1. Inn-app Køb</h5>
      <p><b>Mine Inn-app køb dukker ikke op?</b><br>
      Det kan skyldes at du har haft slettet app'en eller skiftet telefon – Prøv knappen her under.</p>
      <div class="button icon-left ion-loop button-positive restore-button" ng-click="restoreCollections(); closeModal()">
        Indlæs tidligere køb
      </div>
      <br>
      <br>
      <br>
      <br>
      <p>For anden hjælp, skriv til: jens@smaskapp.com</p>
      <br>
      <br>      <br>
      <br>
    </ion-content>
    <div class="row modal-button-section">
      <div class="col">
        <button class="button button-outline button-light button-block" ng-click="closeModal()">
          Luk
        </button>
      </div>
    </div>
  </div>
</ion-modal-view>
