<ion-modal-view class="category-view ion-nifty-modal animated slideUp" style="min-height: 50% !important;">
  <div class="ion-modal-content-custom">
    <ion-content class="category-view-content padding" style="text-align: center;">
      <h3>       
        Opdater SMASK for at købe denne
      </h3>
      <p><b>Hent nyeste version af SMASK for at får adgang til disse kategorier</b><br>
      </p>
      <a class="button icon-left ion-social-apple button-assertive restore-button" target="_blank" href="https://itunes.apple.com/dk/app/smask/id1255670914?l=da&mt=8">
        Opdater nu! 
      </a>
    </ion-content>
    <div class="row modal-button-section">
      <div class="col">
        <button class="button button-outline button-light button-block" ng-click="closeModal()">
          Luk
        </button>
      </div>
    </div>
  </div>
</ion-modal-view>
